@tailwind base;
*{
    margin: 0px;
    padding: 0;
    text-decoration: none;
}
.list .link{
    text-decoration: none;
    font-weight: 500;
    color:var(--black-color);
    padding: 30px 1px ;

}
.home{
    padding: 30px 1px;
}
.fa-caret-down{
    margin-left: 5px;
    transition: .3s;

}
.list:hover .fa-caret-down{
     transform: rotate(180deg);
     
}
.list:hover .description-box{ 
    display: flex;
}
/* description box   */

.description-box{
    display:none;
    flex-wrap: wrap;
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 80px;
    height: 170px;
    width: 300px;
    animation: slideup  .3s;
    animation-duration: .9s;
}
@keyframes slideup{
    from{
        top: 130px;
        direction: 1000%;
    }
    t0p{
        top: 130px;
        direction: 1000px;

    }
}
.skills-label{
   padding: 5px;
   font-weight: 700;
   color:rgba(6, 6, 6, 0.797);
   border-bottom: 1px solid rgb(222, 160, 160);

   
}


@tailwind components;
@tailwind utilities;